<!-- app/views/home/index.html.erb -->
<h1>Welcome the Blog</h1>
<p>
  <a href="<%= articles_path %>">View All Articles</a>
  <!-- This creates a link to the articles index path -->
</p>
<p>
  <a href="<%= authors_path %>">View All Authors</a>
  <!-- This creates a link to the authors index path -->
</p>
